@using MVC.Models
@model ClasseVM
@{
    ViewBag.Title = "EleveClasse";
}

<div style="display: flex; justify-content: center">
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Classe : @Model.Id</div>
        <div class="card-body">
            <h5 class="card-title">Niveau : @Model.Niveau</h5>
            <p class="card-text">@Model.Eleves.Count() élèves</p>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Date de naissance</th>
            <th scope="col">Moyenne</th>
            <th scope="col">Absences</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var eleve in Model.Eleves)
        {
        <tr>
            <th scope="row">@eleve.Id</th>
            <td>@eleve.Nom</td>
            <td>@eleve.Prenom</td>
            <td>@eleve.DateDeNaissance</td>
            <td>@eleve.Moyenne</td>
            <td>@eleve.Absences.Count()</td>
            <td>
                @Html.ActionLink("Détails", "Detail", "Eleve", new { id = eleve.Id }, new { @class = "btn btn-primary" })
            </td>
        </tr>
        }
    </tbody>
</table>